body{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.cellDivClass{
    width: 5px;
    height: 5px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
}

#sketch-grid-container{
    width: 512px;
    height: 512px;
    border: solid;
    border-color: black;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}