body{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1{
    font-size: 50px;
    margin: 10px;
}

h2{
    color:rgb(219, 144, 144);
    margin: 10px;
}

.cellColor1{
    background-color: aqua;
}

#btn-div{
    display: flex;
    justify-content: center;
}

#sketch-grid-container{
    width: 500px;
    height: 500px;
    border: solid;
    border-color: rgb(0, 0, 0);
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}